@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
